/* 
?--------
!Display
?--------
*/
.flex {
  display: flex;
}
.none {
  display: none;
}
/* 
?--------
!Centratura
?--------
*/
.center {
  align-items: center;
  justify-content: center;
}
/* 
?--------
!Bottone
?--------
*/
.btn {
  padding: 0px 30px;
}
